/* Global Constant Fonts and Colours */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;500&family=Roboto+Slab:wght@300;500&family=Roboto:wght@300&display=swap');

:root {
	--font-heading: 'Roboto', serif;
	--font-title: 'Roboto Slab', serif;
	--font-subtitle: 'Cormorant Infant', serif;
	--font-body: 'Roboto', serif;
}

/* Universal */

a {
	color: inherit;
	/* text-decoration: none; */
}

/* Body */

body {
	background-color: var(--color-background-pr);
	color: var(--color-stroke-pr);
	font-family: var(--font-body);
	min-width: 546px;
	margin: 0;
	transition: background-color 0.4s, color 0.4s;
}

body > #main {
	min-height: 80vh;
	margin: 30px 10%;
}

#personal-info {
	text-align: center;
	width: 100%;
	max-width: 735px;
	margin: auto;
	padding: 6px 0 38px 0;
}

/* Text Elements */

#heading {
	font-family: var(--font-heading);
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	margin: 0 0;
}

#name {
	font-family: var(--font-subtitle);
	font-size: 90px;
	font-weight: 500;
	margin: 0 0 36px 0;
}

#cover {
	text-align: center;
	font-size: 18px;
	margin: 0;
	margin-bottom: 32px;
}

#personal-info-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	display: block;
	/* min-width: 213px; */
	min-height: 42px;
	border: 1px solid var(--color-stroke-pr);
	border-radius: 5px;
	padding: 11px 16px 11px 12px;
	margin: 0 8px;
	box-sizing: border-box;
	text-decoration: none;
	transition: background-color 0.4s;
}

.button:hover {
	background-color: var(--color-button);
}

.button-icon {
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 24px;
	height: 16px;
	margin-right: 8px;
	transition: transform 0.4s;
}

.button:hover > .button-icon {
	transform-origin: 50% 50%;
	transform: scale(1.1);
}

.button-label {
	vertical-align: middle;
	font-size: 16px;
	line-height: 18px;
}

.section-name {
	font-family: var(--font-subtitle);
	margin: 0 0 38px 0;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
}

.title {
	font-family: var(--font-subtitle);
	display: block;
	font-size: 22px;
	font-weight: 500;
	line-height: 27px;
	margin: 0;
}

.comment > b {
	font-size: 18px;
}

.comment {
	display: block;
	font-size: 16px;
	color: var(--color-stroke-sc);
	margin-top: 1em;
	margin-right: 4%;
}

#work-history .comment {
	padding-left: 1ex;
	text-indent: -1ex;
}

.history-title {
	font-family: var(--font-title);
	font-size: 24px !important;
	font-weight: 500;
	text-align: left;
	line-height: 32px;
}

.history-place {
	font-family: var(--font-subtitle);
	font-size: 22px;
	vertical-align: bottom;
}

/* Group Elements */

.section {
	padding: 38px 0 38px 0;
	border-top: 1px solid var(--color-stroke-sc);
}

.row {
	margin: 0 0 52px 0;
	display: flex;
}

.lhs-block {
	width: 20%;
	text-align: right;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 5px 28px 0 0;
	height: 100%;
	flex-direction: column;
	align-items: flex-end;
}

.rhs-block {
	width: 76%;
	display: block;
	border-left: 1px solid var(--color-stroke-pr);
	padding: 5px 0 10px 28px;
	margin-right: 20px;
}

/* Collection Elements */

.skill-title {
	font-family: var(--font-title);
	font-size: 22px;
}

ul.skill-items {
	padding: 0 2%;
	margin: 5px 10px;
}

li.item {
	font-size: 16px;
	color: var(--color-stroke-sc);
}

/* Gallery */

.gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.gallery > a {
	display: inline-block;
	width: 18%;
	max-width: 180px;
	min-width: 150px;
	margin: 5px 5px;
	text-decoration: none;
}

.gallery-item {
	margin: auto;
	max-width: 160px;
	max-height: 160px;
	min-width: 140px;
	min-height: 140px;
	transition: 0.2s ease-out;
	border-radius: 5px;
	overflow: hidden;
	background: white;
	box-shadow: 0 0 15px 0 var(--color-drop-shadow);
	transition: 0.15s ease-out;
}

.gallery-item > img {
	width: 90%;
	padding: 5%;
}

.gallery > a > .caption {
	color: var(--color-stroke-pr);
	display: block;
	text-align: center;
	width: 100%;
	opacity: 1;
	transition: opacity 0.15s, color 0.8s;
}

.gallery > a:hover > .gallery-item {
	transform: scale(102%);
	box-shadow: 0px 5px 12px 5px var(--color-drop-shadow-hover);
}

/* Decorative Elements */

#footnote {
	padding-top: 4%;
	text-align: center;
	font-size: 18px;
}

/* Bonus */

body > #toggle > #slider {
	transition: transform 0.4s ease-out;
}

body[data-theme='dark'] > #toggle > #slider {
	transform: translateX(0);
}

body[data-theme='light'] > #toggle > #slider {
	transform: translateX(-35px);
}

#toggle {
	cursor: pointer;
	position: fixed;
	overflow: hidden;
	top: 20px;
	left: 20px;
	background-color: var(--color-button);
	border-radius: 3px;
	transition: background-color 0.4s ease-out;
}

#slider {
	width: 35px;
	display: flex;
}

#slider > img {
	width: 19px;
	padding: 8px;
}

/* Special */

.interest-items {
	text-align: center;
	list-style-type: none;
	padding-inline-start: 0;
}