/* Global Constant Fonts and Colours */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&family=Roboto+Slab:wght@300&display=swap');

:root {
	--font-title: 'Cormorant Infant', serif;
	--font-body: 'Roboto Slab', serif;
}

h1, h2 {
	font-family: var(--font-title)
}

/* Universal */

a {
	color: inherit;
	/* text-decoration: none; */
}

/* Body */

body {
	background-color: var(--color-background-pr);
	color: var(--color-stroke-pr);
	font-family: var(--font-body);
	min-width: 546px;
	margin: 0;
	transition: background-color 0.8s, color 0.8s;
}

body > #main {
	min-height: 80vh;
	margin: 30px 10%;
	width: 80%;
}

#personal-info {
	text-align: center;
	padding: 15px;
}

/* Decoration */

hr.soft-rule {
	width: 72%;
}

/* Text Elements */

h1 {
	text-align: center;
	font-size: 70pt;
	margin: 12px auto;
}

h2#name {
	font-size: 42pt;
	margin: 2pt;
}

h3#email {
	margin: 8pt;
	font-size: 12pt;
}

h3#email:before {
	content: '[ ';
}

h3#email:after {
	content: ' ]';
}

#cover {
	padding: 10px;
	text-align: center;
}

h2.section-name {
	margin: 0 0 16pt 0;
	text-align: center;
	font-size: 24pt;
}

h2.section-name:before,
h2.section-name:after {
	content: ' ~ ';
}

.title {
	display: block;
	font-size: 12pt;
	line-height: 14pt;
}

.comment {
	font-size: 11pt;
	color: var(--color-stroke-sc);
}

.history-title {
	font-size: 14pt !important;
	padding-bottom: 6pt;
}

/* Group Elements */

.section {
	padding: 5px 0 20px 0;
	border-bottom: 1px solid var(--color-stroke-sc);
}

.row {
	margin: 2% 0;
	display: flex;
}

.lhs-block {
	width: 28%;
	text-align: right;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 5px 2% 0 0;
	height: 100%;
	flex-direction: column;
	align-items: flex-end;
}

.rhs-block {
	width: 68%;
	display: block;
	border-left: 1px solid var(--color-stroke-pr);
	padding: 5px 10px;
	border-radius: 10px;
}

/* Collection Elements */

ul.skill-items {
	padding: 0 2%;
	margin: 5px 10px;
}

li.item {
	font-size: 12pt;
	color: var(--color-stroke-sc);
}

/* Gallery */

.gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery > a {
	display: block;
	max-width: 512px;
	max-height: 512px;
	width: 18%;
	text-decoration: none;
}

.gallery-item {
	margin: 5px;
	border: 1px solid var(--color-stroke-sc);
	transition: 0.2s ease-out;
	border-radius: 25px;
	overflow: hidden;
	background: white;
	box-shadow: 0 0 0 0 var(--color-background-pr);
	transition: 0.15s ease-out;
}

.gallery-item > img {
	width: 90%;
	padding: 5%;
}

label.caption {
	color: var(--color-stroke-pr);
	display: block;
	text-align: center;
	width: 100%;
	opacity: 1;
	transition: opacity 0.15s, color 0.8s;
}

.gallery > a:hover > .gallery-item {
	transform: scale(102%);
	box-shadow: 0px 5px 12px 5px var(--color-background-sc);
}

.gallery > a:hover > label.caption {
	opacity: .1;
}

/* Decorative Elements */

#footnote {
	padding-top: 4%;
	text-align: center;
	font-size: 18px;
}

#footnote > span:before,
#footnote > span:after {
	content: ' * ';
}

/* Bonus */

body > #toggle > #slider {
	transition: transform 0.4s ease-out;
}

body[data-theme='dark'] > #toggle > #slider {
	transform: translateX(0);
}

body[data-theme='light'] > #toggle > #slider {
	transform: translateX(-50%);
}

#toggle {
	cursor: pointer;
	position: fixed;
	width: 2%;
	max-width: 20px;
	overflow: hidden;
	top: 14px;
	left: 14px;
	opacity: 25%;
}

#slider {
	width: 200%;
	display: flex;
}

#slider > img {
	width: 50%;
}

/* Special */
.interest-items {
	text-align: center;
	list-style-type: none;
}