@media(max-width: 810px) {
	#name {
		font-size: 50px;
	}

    body > #main {
        margin: 30px 16px;
    }

    #heading {
        font-size: 22px;
    }

    #cover {
        font-size: 12pt;
    }

    .lhs-block {
        padding-right: 14px;
    }

    .rhs-block {
        padding-left: 14px;
        margin-right: inherit;
    }
}
