body, /* default */
body[data-theme="dark"] {
	--color-stroke-pr: #D9D9D9; /* 85% Grey */
	--color-stroke-sc: #A5A5A5; /* 25% Grey */
	
	--color-stroke-selectable: rgb(72, 190, 245); /* Selectable Blue */

	--color-stroke-error: #FF0F0F; /* Error Red */
	--color-stroke-success: #C4FF60; /* Success Green */

	--color-background-pr: #0F0F0F; /*  6% Grey */
	--color-background-sc: #0C0C0C; /* 11% Grey */

	--color-background-pr-transparent: #0F0F0F00; /*  6% Grey, 0 opacity */
}

body[data-theme="light"] {
	--color-stroke-pr: #202020;
	--color-stroke-sc: #696969;

	--color-stroke-selectable: rgb(14, 65, 143);

	--color-stroke-error: #D00;
	--color-stroke-success: #0A0;

	--color-background-pr: #FFFFFF;
	--color-background-sc: #AFAFAF;

	--color-background-pr-transparent: #FAFACB00;
}