@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/* Core Styling Overrides */

:root {
	--font-title: 'Montserrat', sans-serif;
	--font-body: 'Montserrat', sans-serif;
}

#main {
	overflow: hidden;
	position: relative;
}

h1 {
	font-weight: 200;
	font-size: 60pt;
}

h2 {
	text-align: center;
}

.comment {
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify;
	font-size: 14pt;
	font-weight: 300;
}

/* Answer Submission Buttons */

.button {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14pt;
	background-color: var(--color-background-pr);
	color: var(--color-stroke-pr);
	border: 2px solid var(--color-stroke-pr);
	cursor: pointer;
	min-width: 100px;
}

.button:hover {
	background-color: var(--color-background-sc);
}

.button-row {
	display: flex;
	justify-content: space-around;
	width: 40%;
	padding: 0 30%;
}

/* Alternate Panels */
.alt-panel {
	position: absolute;
	width: 100%;
}

/* Hidden State Toggling */

#alt-intro {
	transform: translateX(0vw);
	opacity: 1;
}

#alt-intro.hidden {
	transform: translateX(-50vw);
	opacity: 0;
}

#alt-rejected,
#alt-redirecting {
	transform: translateX(0vw);
	opacity: 1;
}
#alt-rejected.hidden,
#alt-redirecting.hidden {
	transform: translateX(50vw);
	opacity: 0;
}

#alt-intro,
#alt-redirecting,
#alt-rejected {
	transition: transform ease-in-out 500ms, opacity ease-in-out 300ms 100ms;
}